.main{
    background-color: black;
    margin-top: 0;
    padding-top: 0;
}
.main p{
    color: white;
    
}
.imagen3d{
    margin: 0px;
    background-image: url(/img/bg_top.png);
    background-color: black;
}
.alta{
    background-image: url(/img/bg_top.png);
}
.cabecera {
    background-image: url(img/bg_menu.png); 
    font-size: small;
    padding-left: 3%;
    padding-top: 0.5px;
    margin: 0;
}
.cabecera p{
    margin: 0;
    padding: 4px;
    font-size: small;
    color: #CAEDFE;   
}
h1{
    color: red;
}
.Mass {
    background-image: url(/img/final.jpg);
    width: 65%;
    height: 400px;
    float: left;
    background-repeat: no-repeat;
}
.Mass p{
    margin-left: 20px;
    margin-top: 40px;
}
.Mass h1{
    margin-left: 20px;
    margin-top: 70px;
    font-size: xx-large;
    font-style:normal ;
}
.Noticias{
    text-align: right;
    color: white;
    list-style-type: none;
    margin: 0;
    text-align-last: left;
    float: right;
    background-color: black;
    width: 35%;
    height: 400px;  
}

.Noticias li{
    font-size: small;
}
.Noticias li{
    text-decoration: none;
    list-style-type: none;
}
.conjunto{

    line-height: 100%;
}

.fotos {
    float: left;
    text-emphasis: none;
    list-style-type: none;
    margin-right: 10px;
   
}
.foto1 {
    left: 5px;
}

.pie{
    color: grey;
    font-size: x-small;
    text-align: center;
    margin-top: 50px;
    background-image: url(/img/bg_peu.png);
}
.pie p{
    text-align: center;
    margin-bottom: 20px;
}
body{
    margin-top: 0;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    background-color:#182B49 ;
}
.sociales{
    margin-left: 450px ;
    margin-bottom: 20px;
}
.button {
    position: relative;
    float: right;
    padding: 20px;
}
#search{
    width: 300px;
}

  